{% extends "header.html" %}

{% block body %}

{{ games[0] }}

{% set months = {} %}

{% for month in month_list %}
  {% if months.update({month: 0}) %} {% endif %}
  {% for game in games %}
    {% set game_date = game.date[5:7] %}
    {% if game_date|int == month_list.index(month) + 1 %}
      {% if months.update({month: months[month] + 1}) %} {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

  <div class="row" style="text-align: center">
    <div class="col-lg-2">
      <a href="/teams/{{ team }}/{{ year + 1 }}"><h4>{{ year + 1 }}</h4></a>
    </div>
    <div class="col-lg-8">
      <h2>{{ year }}</h2>
    </div>
    <div class="col-lg-2">
      <a href="/teams/{{ team }}/{{ year - 1 }}"><h4>{{ year - 1 }}</h4></a>
    </div>
  </div>
  {% for i in range(3) %}
  <div class="row" style="text-align: center">
    {% for x in range(4) %}
    <div class="col-lg-3">
      {% if months[month_list[(i * 4) + x]] > 0 %}
      <a href="{{ ((i * 4) + x) + 1 }}">
      {% endif %}
        <h3>{{ month_list[(i * 4) + x] }}</h3>
        <p>{{ months[month_list[(i * 4) + x]] }} game{% if months[month_list[(i * 4) + x]] > 1 %}s{% endif %} available</p>
      {% if months[month_list[(i * 4) + x]] > 0 %}
      </a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}

{% endblock %}
