{% extends "header.html" %}

{% block body %}

{% for game in games %}
{% do game_list.append(game[1].date) %}
{% endfor %}

<h3 style="text-align: center"><a href="/teams/{{ team }}">{{ year }} {{ team_code.location_name }} {{ team_code.nickname }} Season</a></h3>
<a style="text-align: center" href="/random?team={{ team }}&date={{ year }}">Random Game</a>
<br>
<div class="container">
<table class="table table-hover">
  <tr>
    <th>Gm#</th>
    <th>Date</th>
    <th>Opp</th>
    <th>{{ team.upper() }} Pitcher</th>
    <th>Opp Pitcher</th>
  </tr>
  {% for game in old_games %}
  {% if game.date not in game_list %}
  <tr>
    <td></td>
    <td><a href="/games/{{ game.homeTeam }}/{{ game.date[:4] }}/{{ game.date[4:6] }}/{{ game.date[6:] }}/{{ game.gameNo }}">{{ game.date[4:6] }}/{{ game.date[6:] }}/{{ game.date[:4] }}</a></td>
    <td>
      {% if game.homeTeam == team.upper() %}
      <a href="/teams/{{ game.awayTeam }}/{{ game.date[:4] }}/">
      vs {{ game.awayTeam }}
      {% elif game.awayTeam == team.upper() %}
      <a href="/teams/{{ game.homeTeam }}/{{ game.date[:4] }}/">
      at {{ game.homeTeam }}
      {% endif %}
      </a>
    </td>
    <td></td>
    <td></td>
  </tr>
  {% endif %}
  {% endfor %}
{% for game in games %}
{% set gamelog = game[1] %}
{% set game = game[0] %}


  <tr>
    <td>
      {% if gamelog.gameType == "CS" or gamelog.gameType == "DS" or gamelog.gameType == "WC" %}{{ gamelog.homTeamLg}}{{ gamelog.gameType }}: G{% elif gamelog.gameType == "WS"%}WS: G{% endif %}{% if game.homeTeam == team %}{{ gamelog.homTeamGm }}{% elif game.awayTeam == team %}{{ gamelog.visTeamGm }}{% endif %}
    </td>
    <td>
      <a href="/games/{{ game.homeTeam }}/{{ game.date[:4] }}/{{ game.date[4:6] }}/{{ game.date[6:] }}/{{ game.gameNo }}">{{ game.date[4:6] }}/{{ game.date[6:] }}/{{ game.date[:4] }}</a>
    </td>
    <td>
      {% if game.homeTeam == team.upper() %}
      <a href="/teams/{{ game.awayTeam }}/{{ game.date[:4] }}/">
      vs {{ game.awayTeam }}
      {% elif game.awayTeam == team.upper() %}
      <a href="/teams/{{ game.homeTeam }}/{{ game.date[:4] }}/">
      at {{ game.homeTeam }}
      {% endif %}
      </a>
    </td>
    {% if game.homeTeam == team %}
    <td><a href="/pitchers/{{ gamelog.homPitchId }}/">{{ gamelog.homPitch }}</a></td>
    <td><a href="/pitchers/{{ gamelog.visPitchId }}/">{{ gamelog.visPitch }}</a></td>
    {% elif game.awayTeam == team %}
    <td><a href="/pitchers/{{ gamelog.visPitchId }}/">{{ gamelog.visPitch }}</a></td>
    <td><a href="/pitchers/{{ gamelog.homPitchId }}/">{{ gamelog.homPitch }}</a></td>
    {% endif %}
  </tr>

{% endfor %}

</table>
</div>


{% endblock %}
