{% extends "header.html" %}

{% block body %}

{% set days = {} %}

{% for day in range(1, month_range[1] + 1) %}
  {% if days.update({day: 0}) %} {% endif %}
  {% for game in games %}
    {% set game_date = game.date[8:] %}
    {% if game_date|int == day %}
      {% if days.update({day: days[day] + 1}) %} {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

  <div class="row" style="text-align: center;">
    <div class="col-lg-4">
      {% if month|int == 1 %}
      <a href="/teams/{{ team }}/{{ year - 1 }}/12/">{{ month_list[11] }}</a>
      {% else %}
      <a href="/teams/{{ team }}/{{ year }}/{{ month|int - 1 }}">{{ month_list[month|int - 2] }}</a>
      {% endif %}
    </div>
    <div class="col-lg-4">
      <h3>{{ month_list[month|int - 1] }} {{ year }}</h3>
    </div>
    <div class="col-lg-4">
      {% if month|int == 12 %}
      <a href="/teams/{{ team }}/{{ year + 1 }}/1/">{{ month_list[0] }}</a>
      {% else %}
      <a href="/teams/{{ team }}/{{ year }}/{{ month|int + 1 }}">{{ month_list[month|int] }}</a>
      {% endif %}
    </div>
  </div>
  <br>
  <hr>

  {% for i in range (0,5) %}
  <div class="" style="text-align: center;">
    {% for x in range (0,7) %}
      {% set day = ((i * 7) + x) - (month_range[0] - 1) %}
      <div style="height: 100px; width: 100px; display: inline-block">
        {% if day > 0 and day <= month_range[1] and days[day] > 0 %}
        <a href="{{ day }}"><p style="text-align: left;">{{ day }}</p>
        <p>{{ days[day ]}} game{% if days[day] > 1 %}s{% endif %} availible</p></a>
        {% elif day > 0 and day <= month_range[1] %}
        <p style="text-align: left;">{{ day }}</p>
        <p>0 games availible</p></a>
        {% else %}
        <p>&nbsp;</p>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% endfor %}

{% endblock %}
